$primary: lightgrey;

$gender-unknown: #db9200;
$gender-m: #8700b0;
$gender-f: #003153;

$best-orange-EVER: rgb(255, 128, 0);

$height-120: #bdbf7c;
$height-130: #b0bf7c;
$height-140: #87bf7c;
$height-150: #7cbfa8;
$height-160: #4a8f77;
$height-170: #43889c;
$height-180: #3c7ac9;
$height-190: #3042c9;
$height-200: #6330c9;
$height:red;