<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}
    </head>

    <body>
        {% include 'header.html.twig' %}
        
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% include 'footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('scripts') }}
        {% endblock %}
    </body>

</html>
