
{% extends 'base.html.twig' %}

{% block title %}
    Hello you !
{% endblock %}

{% block body %}

    <div class="section-header-action">
        <h1>Liste des albums</h1>
    </div>

    {% if albums|length > 0 %}
        <ul class="list-group list-group-flush">
            {% for album in albums %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        {{ album.name }}
                        <span class="ml-3 text-muted">{{ album.publishedYear }}</span>
                    </span>
                    <span class="badge badge-primary badge-pill"> {{ album.price }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun Album, sorry</p>
    {% endif %}

{% endblock %}
