{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Song{% endblock %}

{% block body %}
    <div class="section-header-action mb-4">
        <h1>Editer Chanson</h1>
        <div class="header-buttons-group">
            {{ include('song/_delete_form.html.twig') }}
            <a class="btn btn-secondary" href="{{ path('song_index') }}">Retour</a>
        </div>
    </div>

    {{ include('song/_form.html.twig', {'button_label': 'Valider'}) }}

{% endblock %}
