{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Song{% endblock %}

{% block body %}
    <div class="section-header-action mb-4">
        <h1>Créer une nouvelle Chanson</h1>
        <a class="btn btn-secondary" href="{{ path('song_index') }}">Retour à la liste des Chansons</a>
    </div>

    {{ include('song/_form.html.twig') }}

{% endblock %}
