{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}
    <div class="section-header-action mb-4">
        <h1>Editer Artiste</h1>
        <div class="header-buttons-group">
            {{ include('artist/_delete_form.html.twig') }}
            <a class="btn btn-secondary" href="{{ path('artist_index') }}"><i class="fas fa-arrow-circle-left"></i> Retour</a>
        </div>
    </div>

    {{ include('artist/_form.html.twig', {'button_label': 'Valider'}) }}

{% endblock %}
