{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Album{% endblock %}

{% block body %}
    <div class="section-header-action mb-4">
        <h1>Editer Album</h1>
        <div class="header-buttons-group">
            {{ include('album/_delete_form.html.twig') }}
            <a class="btn btn-secondary" href="{{ path('album_index') }}">Retour</a>
        </div>
    </div>

    {{ include('album/_form.html.twig', {'button_label': 'Valider'}) }}
    
{% endblock %}
